/* Default styles */
body {
  background-color: #fff; /* Light background color */
  color: #333; /* Dark text color */
}

/* Dark mode styles */
.dark-mode {
  background-color: #000; /* Dark background color */
  color: #fff; /* Light text color */
}

/* Navbar styles in dark mode */
.dark-mode .navbar {
  background-color: #333; /* Darker navbar background color */
  color: #fff; /* Light text color in navbar */
}

/* News item card styles in dark mode */
.dark-mode .dark-mode-card {
  background-color: #333; /* Darker background color for cards */
  color: #fff; /* Light text color for cards */
}

/* Additional component styles in dark mode */
.dark-mode .your-component-class {
  /* Define styles for your components in dark mode */
}

/* Your existing styles below */

 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
